:root {
  /* blue 
#11476d
#b9e0ed
*/

  /*dark mode #141516 */
  /* --main-color: #00e284; */
  --dark: #141516;
  --white: white;
  --main-color: rgba(36, 255, 0, 0.47);
  --transparent-color: rgb(15 116 143 / 70%);
  /* --main-color: #b9e0ed; */
  --p-color: #a8a8a8;
  --title-color: #1f2021;
  /* --second-color: black; */
  --second-color: #004338;
  --nav-color: white;
  /* --second-color: #00e284; */
  /* --second-color: #11476d; */
  --animation-duration: 0.3s;
  --main-padding: 100px;
}

/* */

/* .Projects

#education

#domains

#home 
#skills */

/**/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
#home {
  min-height: 100vh;
}

/* Header */

/*Bubbles */
.bub {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bubbles {
  z-index: 1;
  position: absolute;
  display: flex;
}

.bubbles span {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  margin: 0 4px;
  opacity: 0.5;
  z-index: 1;
  border-radius: 50%;
  animation: animate 15s linear infinite;
  animation-duration: calc(250s / var(--i));
}
.home.dark .bubbles span {
  background-color: var(--white);
}

@keyframes animate {
  0% {
    margin-top: 100%;
    transform: scale(0);
  }

  100% {
    margin-top: -10%;
    transform: scale(1);
  }
}
/* .header {
  box-shadow: 0 3px 60px var(--main-color);
} */

.header.dark {
  background-color: var(--dark);
}
.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: 50px;
}

.header .logo a {
  color: var(--second-color);
  font-family: "Ink free";
  text-transform: uppercase;
}
.header .logo a .header .logo a .nav ul {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}
.nav ul li a {
  display: block;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  font-size: 17px;
}
.header.dark .nav ul li a {
  color: var(--second-color);
}
.nav li a.active,
.nav li a:hover {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

.header.dark .nav li a.active,
.header.dark .nav li a:hover {
  border-bottom: 1px solid var(--white);
  color: var(--white);
}
.nav ul.phone li a.active,
.nav ul.phone li a:hover {
  color: var(--main-color);
  margin-left: 5px;
  border-bottom: 1px solid var(--main-color);
}

.header.dark .nav ul.phone li a.active,
.header.dark .nav ul.phone li a:hover {
  color: var(--second-color);

  border-bottom: 1px solid var(--second-color);
}
.header.dark .nav ul.phone li a,
.header.dark .nav ul.phone li a {
  color: var(--white);
}
.nav .burger {
  width: 30px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  order: 1;
}
.nav .burger div {
  height: 3px;
  background-color: var(--second-color);
}

.nav .burger div:nth-child(1) {
  width: 100%;
}
.nav .burger div:nth-child(2) {
  width: 50%;
  transition: 0.3s;
}
.nav .burger div:nth-child(3) {
  width: 100%;
}

.nav .links {
  display: flex;
}

.nav .links.phone {
  z-index: 10;
  transition: 0.3s;
  transform: translateY(-125%);
  flex-direction: column;
  top: 100%;
  left: 0;
  text-align: center;

  box-shadow: 0 15px 30px rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: var(--second-color);
  position: absolute;
  width: 100%;
  padding: 15px 0;
}

@keyframes animateBorder {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.nav .links.phone li a {
  color: white;
}
@media (max-width: 992px) {
  .nav .links.main {
    display: none !important;
  }

  .nav .burger {
    display: flex;
  }
}
@media (min-width: 992px) {
  .nav .burger {
    display: none !important;
  }
  .nav .links.phone {
    display: none !important;
  }
}

/*section  */
.section {
  height: calc(100vh - 63px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section .scrolldown {
  font-size: 30px;
  position: relative;
  bottom: 20px;
  color: var(--second-color);
  cursor: pointer;
  animation: arrow 2s infinite linear;
}
.section.dark .scrolldown {
  color: white;
}
@media (max-width: 768px) {
  .section .scrolldown {
    align-self: flex-end;
    margin-right: 25px;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
.section .info {
  height: 50%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

@media (max-width: 768px) {
  .section {
    height: calc(100vh - 50px);
  }
}
.section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  z-index: -10;
  transition: 0.6s;
  background-color: var(--main-color);
  /* border-radius: 0 20px 20px 0; */
}

.section.dark::after {
  width: 100%;
}
.section .my-img {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  z-index: 1;
  max-width: 100%;
  border-radius: 500px;
  animation: animateImg 3s linear alternate infinite;
}
@keyframes animateImg {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-55%);
  }
}
/*info */

.section .line {
  background-color: var(--second-color);
  height: 2px;
  position: relative;
  animation: animateLine linear var(--animation-duration) forwards;
}

@keyframes animateLine {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% / 2);
  }
}
.section .myInfo .text {
  align-self: center;
  font-size: 30px;
  z-index: 3;
  padding: 40px 20px;
  width: 80%;
  text-align: center;
  line-height: 1.7;
}

.section .myInfo .text span {
  color: var(--second-color);
  font-size: 35px;
  font-weight: 600;
  position: relative;
  margin: 0 17px;
}

.section .myInfo .text span svg {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  stroke-dasharray: 830;
  stroke-dashoffset: 830;

  animation: animateName linear infinite 2s;
  animation-delay: var(--animation-duration);
}

@keyframes animateName {
  0% {
    stroke-dashoffset: 830;
  }
  100% {
    stroke-dasharray: 1660;
  }
}

.section .line.left::after {
  position: absolute;
  content: "";

  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  background-color: var(--second-color);
  align-self: flex-end;
  animation: animateCircle linear forwards var(--animation-duration);
  animation-delay: var(--animation-duration);
}
.section .line.right::after {
  position: absolute;
  content: "";

  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  background-color: var(--second-color);
  animation: animateCircle linear forwards var(--animation-duration);
  animation-delay: var(--animation-duration);
}
.section .line.left {
  align-self: flex-end;
}

@keyframes animateCircle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

.section .Links {
  height: 50%;
  width: 60%;
  position: relative;
  padding: 0 25px;
}

.Links h2 {
  font-size: 6em;
  position: relative;
  z-index: 2;
  color: transparent;
  -webkit-text-stroke: 1px var(--second-color);
}
.Links p {
  font-size: 24px;
  text-align: end;
  margin-bottom: 10px;
}

.Links h2::after {
  content: "Welcome";
  top: 0;
  left: 0;
  position: absolute;
  color: var(--main-color);
  animation: welcomeAnimation 4s infinite ease-in-out;
}
.section.dark .Links h2::after {
  color: var(--white);
}
@keyframes welcomeAnimation {
  0%,
  100% {
    clip-path: polygon(
      0 48%,
      10% 49%,
      21% 56%,
      28% 62%,
      38% 68%,
      51% 69%,
      62% 63%,
      70% 58%,
      82% 54%,
      92% 56%,
      100% 58%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0 57%,
      8% 63%,
      14% 69%,
      23% 74%,
      38% 70%,
      50% 63%,
      58% 55%,
      68% 50%,
      80% 51%,
      90% 60%,
      100% 79%,
      100% 100%,
      0 100%
    );
  }
}
.social {
  width: fit-content;
  text-align: end;
  margin-top: 40px;
  margin-left: auto;
  border-bottom: 1px solid var(--second-color);
  display: flex;
  padding-bottom: 5px;
}
.section.dark .social {
  border-bottom: 1px solid var(--white);
}
.social a {
  width: 50px;
  height: 50px;
  border: 1px solid var(--second-color);
  margin-right: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  columns: var(--second-color);
  transition: 0.2s;
  overflow: hidden;
}

.social .icon {
  font-size: 30px;
  color: var(--second-color);
  transition: 0.2s;
}
.section.dark .social .icon {
  color: var(--white);
}
.social a:hover {
  background-color: var(--second-color);

  transform: translateY(-5px);
}
.social a:hover .icon {
  color: white;
}
.welcome {
  width: 75%;
}
@media (max-width: 912px) {
  .section .my-img {
    width: 440px;
  }
  .Links h2 {
    font-size: 5em;
  }

  .section .info .myInfo .text {
    font-size: 27px;
  }
  .section .myInfo .text span svg {
    width: 240px;
  }
  .section .myInfo .text span {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .section .my-img {
    width: 300px;

    top: 45%;

    left: 45%;
    margin-left: -150px;
  }
  .section .info {
    margin-top: 15px;
  }
  .section .social a {
    width: 40px;
    height: 40px;
  }
  .section .icon {
    font-size: 25px;
  }
  .section {
    padding: 20px 0;
  }
  .section::after {
    width: 0;
  }

  .section .info {
    width: 100%;
    justify-content: start;
  }
  .section .myInfo .text {
    width: 95%;
    padding: 20px 20px;
  }
  .section .myInfo .text {
    justify-content: start;
    font-size: 25px;
  }
  .section .myInfo .text span {
    font-size: 28px;
  }
  .section .Links {
    width: 100%;
    margin-left: 0;
    justify-content: end;
    padding: 0 25px;
  }

  .Links h2 {
    font-size: 4em;
  }
  .social {
    margin: 0 auto;
  }
  .welcome {
    width: 100%;
    text-align: center;
  }
  .Links p {
    text-align: center;
    font-size: 20px;
  }

  .Links h2::after {
    left: 50%;

    transform: translate(-50%, 0);
  }
}

/* PROJECTS */
#Projects {
  padding: var(--main-padding) 0;
}

.project h3 {
  font-weight: 500;
}
.mainTitle {
  color: var(--second-color);
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 11px;
  border: 1px solid var(--second-color);
  /* border-color: transparent transparent black; */
  width: 190px;
  text-align: center;
  margin: 0 24px;
  position: relative;
  transition: 0.3s;
  border-radius: 25px;
  cursor: pointer;
  letter-spacing: 2px;
}
.mainTitle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--second-color);
  border-radius: 50%;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
}
#title {
  margin-bottom: var(--main-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

#title .line {
  width: 20%;
  height: 2px;
  background-color: var(--second-color);
}
.mainTitle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--second-color);
  border-radius: 50%;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
.title.dark .mainTitle::after,
.title.dark .mainTitle::before {
  background-color: var(--white);
}
.mainTitle:hover {
  color: var(--second-color);
  border: 1px solid white;
  transition-delay: 0.5s;
}
.title.dark .mainTitle:hover {
  color: var(--white);
}
.mainTitle:hover::after {
  background-color: var(--main-color);
  animation: rightCircle 0.5s linear forwards;
}
.mainTitle:hover::before {
  background-color: var(--main-color);
  animation: leftCircle 0.5s linear forwards;
}

.title.dark .mainTitle:hover::after {
  background-color: var(--second-color);
  animation: rightCircle 0.5s linear forwards;
}
.title.dark .mainTitle:hover::before {
  background-color: var(--second-color);
  animation: leftCircle 0.5s linear forwards;
}
@keyframes leftCircle {
  50% {
    left: 0;
    width: 10px;
    height: 10px;
  }
  100% {
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 25px 0px 0px 25px;
    z-index: -1;
  }
}
@keyframes rightCircle {
  50% {
    right: 0;
    width: 10px;
    height: 10px;
  }
  100% {
    width: 50%;
    height: 100%;
    right: 0;
    border-radius: 0 25px 25px 0;
    z-index: -1;
  }
}
/*Projects */

.Projects .container {
  height: 450px;
  background-color: var(--main-color);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.Projects.dark .container {
  box-shadow: 0 0px 30px rgb(0, 0, 0, 0.5);
}
#Projects .projects {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  width: 55%;
  padding: 50px;
  scroll-behavior: smooth;
}

#Projects .github {
  text-align: center;
  padding: 60px;
}

#Projects .github h1 {
  margin-bottom: 15px;
}
#Projects .github p {
  font-size: 17px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  #Projects .container {
    flex-direction: column;
    height: 720px;
    padding: 60px 0;
  }
  #Projects .projects {
    flex-direction: row;
    width: 100%;
    gap: 40px;
    overflow-y: hidden;
  }
  #Projects .github {
    padding: 0px;
  }
}
.Projects .github .more {
  width: 35%;
  margin: 0 auto;
  background-color: var(--second-color);
  padding: 15px 0;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.Projects .github .more:hover {
  background-color: #013029;
}
.Projects.dark .github .more:hover {
  background-color: var(--white);
  color: var(--dark);
}
.Projects.dark .github .more:hover a {
  color: var(--dark);
}
.Projects .github .more a {
  margin-right: 8px;
  color: white;
  transition: 0.3s;
}
#Projects .github .more .githubIcon {
  font-size: 20px;
}
.Projects .project {
  /* background-color: var(--main-color); */
  flex-shrink: 0;
  background-color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 50px;
  margin-bottom: 30px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Projects.dark .project {
  color: var(--dark);
}
#Projects .project img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
#Projects .container .project .info {
  transition: 0.3s;
}
#Projects .container .project:hover {
  transform: scale(1.1);
}
#Projects .container .project:hover .info {
  opacity: 0;
}
#Projects .container .project:hover img {
  opacity: 1;
}
#Projects .container .project p {
  margin-top: 15px;
}
@media (max-width: 768px) {
  #Projects .container .project {
    width: 90%;
  }
}

#Projects .projects::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  scroll-behavior: smooth;
  transition: 3s;
}

#Projects .projects::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 4px;
}
.Projects .project .arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;

  font-size: 28px;
  transform: translateX(-50%);
  cursor: pointer;
  animation: animateArrow linear infinite 2s;
  transition: 1s;
  color: var(--second-color);
}

.Projects.dark .project .arrow {
  color: var(--main-color);
}
@keyframes animateArrow {
  0% {
    transform: translate(-50%, 0);
  }
  30% {
    transform: translate(-50%, 0px);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  50% {
    transform: translate(-50%, 0px);
  }
  60% {
    transform: translate(-50%, -30px);
  }
  70% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
.project .details {
  position: absolute;
  left: 50%;
  transition: 1s;
  background-color: var(--second-color);
  transform: translateX(-50%);
  font-size: 25px;
  width: 30%;
  border-radius: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: -100%;
  color: white;
}
.Projects.dark .project .details {
  background-color: var(--dark);
}
.Projects.dark .project .details .detail {
  color: var(--white);
}
.project .details .detail {
  cursor: pointer;
  color: white;
}

/*Education */

/* What I Do */

#domains {
  padding: var(--main-padding) 0;
}
#domains .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options .two {
  display: flex;
}
.options .domain {
  display: flex;
  min-height: 180px;
  width: 50%;
  margin: 10px;
  padding: 20px;

  border: 1px solid var(--main-color);
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.domains.dark .options .domain {
  border: 1px solid var(--second-color);
}
.domain .text {
  text-align: center;
}
.domain h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.domain p {
  color: #777;

  line-height: 1.7;
  font-size: 17px;
}
.domains.dark .domain p {
  color: rgba(255, 255, 255, 0.6);
}
.image {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  width: 50%;
}

.domain::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  border-radius: 10px;

  background-color: var(--main-color);
  height: 0;
  transition: 0.3s;
  z-index: -1;
}
.domains.dark .domain::after {
  background-color: var(--second-color);
}
.domain:hover::after {
  width: 100%;
  height: 100%;
  border: 1px solid var(--second-color);
}
@media (max-width: 992px) {
  #domains .container {
    flex-direction: column;
  }
  .image {
    margin-bottom: 70px;
  }
  .options {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .domain {
    flex-direction: column;
    text-align: center;
  }
  .image {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .image {
    width: 80%;
  }
  .options .two {
    flex-direction: column;
  }
  .options .domain {
    width: 100%;
  }
}
/* Skills */

#skills {
  padding: var(--main-padding) 0;
}

#skills .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

#skills .languages {
  width: 50%;
}
#skills .languages .tools {
  font-weight: normal;
  font-size: 15px;
}
/* #skills .img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.image img {
  width: 100%;
}
#skills .language .rectangle {
  height: 35px;
  width: 100%;
  background-color: #eee;
  margin-bottom: 20px;
  position: relative;
}
.skills .language .rectangle div {
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
}

.skills.dark .language .rectangle div {
  background-color: var(--second-color);
}
#skills .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
#skills .info h3 {
  font-weight: 500;
}
.skills .info .percentage {
  font-weight: 500;
  background: var(--main-color);
  text-align: center;
  padding: 5px 7px;
  border-radius: 8px;
}
.skills.dark .info .percentage {
  background-color: var(--second-color);
}
@media (max-width: 992px) {
  #skills .container {
    flex-direction: column-reverse;
  }
  #skills .languages {
    width: 100%;
  }

  #skills .info .percentage {
    padding: 5px 8px;
  }
  #skills .info .tools {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  /* #skills .language{
 height: ;
 } */
  #skills .language .rectangle {
    height: 33px;
  }
  #skills .info {
    margin-bottom: 10px;
  }
}
#Projects #education,
#domains,
#skills {
  padding: var(--main-padding) 0 0;
}

/*Footer */

#footer {
  overflow: hidden;
  position: relative;
}

#footer img {
  height: 300px;
  transform: translateY(20px);
  animation: animateFooter 30s linear alternate infinite;
}

@keyframes animateFooter {
  0% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(-65%, 20px);
  }
}

/*Contact */

#contact {
  padding: 0 0 var(--main-padding);
}

#contact .container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

#contact .image,
#contact .form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .form {
  flex-direction: column;
}
#contact .form h2 {
  font-weight: 500;
  margin-bottom: 25px;
  font-size: 25px;
  color: var(--second-color);
}
#contact .form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact.dark form input,
.contact.dark textarea {
  background-color: white;
}

.contact.dark form input:hover,
.contact.dark textarea:hover {
  box-shadow: 0 0px 30px var(--second-color);
}
.contact form input,
button,
textarea {
  height: 50px;
  outline: none;
  border: none;
  background-color: #eee;
  /* background-color: rgba(36, 255, 0, 0.1); */
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 25px;
  /* background-color: rgb(240, 237, 237); */
  transition: 0.3s;
}

.contact textarea {
  width: 100%;
  height: 200px;
  resize: none;
}
.contact form input:hover,
textarea:hover {
  border: 1px solid var(--second-color);
}
.contact button {
  background-color: var(--main-color);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.contact.dark button {
  background-color: var(--second-color);
  color: white;
}
.contact button:hover {
  background-color: var(--second-color);
  color: white;
}
#contact svg {
  width: 90%;
  animation: animateTop 3s linear infinite alternate;
}

@media (max-width: 992px) {
  #contact .image {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #contact .container {
    flex-direction: column;
  }
  #contact svg {
    height: 400px;
  }
  #contact .image {
    width: 50%;
  }
  #contact .form {
    width: 100%;
  }
  #contact .image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #contact svg {
    height: 200px;
  }
}
/* Education Journey */

#education {
  padding: 0 0 var(--main-padding);
}

#education .container {
  display: flex;
  flex-direction: column;
}

#education .quote svg {
  width: 40%;
  margin-left: -3%;
  margin-bottom: 70px;
}
#education .quote {
  text-align: center;
}

/*Step */

#education .journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#education .step {
  display: flex;
  height: 150px;

  justify-content: center;
}

#education .journey .year {
  text-align: center;
  width: 20%;
}

#education .shape {
  width: 20%;
  display: flex;

  justify-content: center;
}
#education .infos {
  display: flex;

  flex-direction: column;
  width: 60%;
}

#education .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--second-color);
}

#education .border {
  border: 1px dashed #777;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  position: relative;
}
#education .border::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 117px;
  background-color: #777;
  top: 100%;
  stroke-dasharray: 100;
}
#education .journey h3 {
  font-weight: 500;
  font-size: 17px;
}
@media (min-width: 912px) {
  #education .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #education .quote svg {
    width: 100%;
    margin-bottom: 0;
  }
  #education .quote {
    width: 40%;
  }
  #education .journey {
    width: 50%;
  }
}
@media (max-width: 912px) {
  #education .quote svg {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #education .quote svg {
    width: 70%;
  }
}
@media (max-width: 768px) {
  #education .quote svg {
    width: 95%;
  }
}

.node1,
.node2,
.node3,
.node3,
.node4,
.node5,
.node6,
.node7 {
  opacity: 0;
  animation: display 1s forwards;
}

.education .line1,
.line2,
.line3,
.line4,
.line4,
.line5,
.line6,
.line7,
.line8 {
  stroke-dasharray: 330;
  stroke-dashoffset: 330;
  animation: displayLine forwards 0.5s;
}
.education .line10,
.line9 {
  stroke-dasharray: 640;
  stroke-dashoffset: 640;
  animation: displayLine forwards 0.5s;
}

.education.dark .line1,
.education.dark .line2,
.education.dark .line3,
.education.dark .line4,
.education.dark .line4,
.education.dark .line5,
.education.dark .line6,
.education.dark .line7,
.education.dark .line8,
.education.dark .line10,
.education.dark .line9,
.education.dark .owner {
  stroke: var(--white);
}
.education.dark .owner {
  fill: white;
}
.text1,
.text2,
.text3,
.text4,
.text4,
.text5,
.text6,
.text7,
.owner {
  opacity: 0;
  animation: display 0.5s forwards;
}

@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes displayLine {
  0% {
    stroke-dashoffset: 330;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.node1 {
  animation-delay: 0.5s;
}
.text1 {
  animation-delay: 1s;
}

.line1 {
  animation-delay: 1.5s;
}
/* */

.node2 {
  animation-delay: 2s;
}
.text2 {
  animation-delay: 2.5s;
}

.line2 {
  animation-delay: 3s;
}
/* */
.node3 {
  animation-delay: 3.5s;
}
.text3 {
  animation-delay: 4s;
}

.line3 {
  animation-delay: 4.5s;
}
/* */
.node4 {
  animation-delay: 5s;
}
.text4 {
  animation-delay: 5.5s;
}

.line4 {
  animation-delay: 6s;
}
/* */
.node5 {
  animation-delay: 6.5s;
}
.text5 {
  animation-delay: 7s;
}

.line5 {
  animation-delay: 7.5s;
}
/* */
.node6 {
  animation-delay: 8.5s;
}
.text6 {
  animation-delay: 9s;
}

.line6 {
  animation-delay: 9.5s;
}
/* */
.node7 {
  animation-delay: 10s;
}
.text7 {
  animation-delay: 10.5s;
}

.line7 {
  animation-delay: 11s;
}

.line9 {
  animation-delay: 12s;
}

.line10 {
  animation-delay: 12.5s;
}

.owner {
  animation-delay: 13s;
}

@media (max-width: 500px) {
  #education .quote svg {
    height: 200px;
    margin-bottom: 30px;
  }
}
@media (max-width: 912px) {
  #education .quote svg {
    height: 300px;
  }
}

.education.dark svg .text1,
.education.dark svg .text2,
.education.dark svg .text3,
.education.dark svg .text4,
.education.dark svg .text4,
.education.dark svg .text5,
.education.dark svg .text6,
.education.dark svg .text7 {
  stroke: white;
  fill: white;
}

/*Dark mode */

.darkMode {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  order: 2;
}

@media (max-width: 992px) {
  .darkMode {
    order: 1;
  }
  .nav .burger {
    order: 2;
    margin-left: 35px;
  }
}

.darkMode p {
  font-size: 17px;
}

.toggle {
  width: 47px;
  height: 25px;
  border-radius: 12px;
  background-color: black;
  position: relative;
  margin: 0 15px;
}

.toggle span {
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  background-color: white;
  transform: translateX(0);
  transition: 0.6s;
}
.header.dark .darkMode .toggle {
  background-color: white;
}
.header.dark .darkMode .toggle span {
  transition: 0.3s;
  transform: translateX(22px);
  background-color: var(--dark);
}

.darkMode .dark {
  color: rgba(0, 0, 0, 0.5);
}
.header.dark .darkMode .dark {
  color: var(--white);
}

.header.dark .darkMode .light {
  color: gray;
}

/* .header.dark {
  box-shadow: 0 15px 30px rgb(255 255 255/ 0.1);
} */

/* 1 2 3 3 5 13 14 16 17 18 19*/

/*4 6 7 8  9 10 11 12 15*/
#path3,
#path5,
#path4,
#path6,
#path7,
#path8,
#path9,
#path10,
#path11,
#path12,
#path15 {
  animation: animateBottom linear infinite alternate 1.5s;
}
#skills .img {
  animation: animateBottom linear infinite alternate 2.5s;
}
#path1,
#path2,
#path13,
#path14,
#path16,
#path17,
#path18,
#path19 {
  animation: animateTop linear infinite alternate 1.5s;
}

@keyframes animateTop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

@keyframes animateBottom {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.goHome {
  font-size: 25px;
  bottom: 10px;
  position: fixed;
  transition: 1s;
  right: 15px;
  transition: 0.5s;
  font-size: 28px;
  cursor: pointer;

  width: 50px;
  height: 50px;
  border: 1px solid var(--second-color);
  margin-right: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
}
.goHome:hover {
  background-color: var(--main-color);
}

.goHome:hover .icon {
  transition: 0.3s;
}

.goHome:hover .icon {
  color: white;
}

.goHome .icon {
  animation: animateScrollArrow linear infinite 2s;
}
.goHome.dark .icon {
  color: white;
}
@keyframes animateScrollArrow {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-15px);
  }
  70% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 576px) {
  .section .myInfo .text {
    font-size: 22px;
  }
  .Links p {
    font-size: 18px;
  }
  .Links h2 {
    font-size: 3.5em;
  }
  .mainTitle {
    font-size: 20px;
  }
}

.loading {
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
}
.loading .circles {
  width: 333px;
  height: 333px;
  position: relative;
  perspective: 50000px;
  color: white;
}
.circles span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: currentColor;
  width: 18.4%;
  height: 18.4%;
  border-radius: 50%;
}

.circles div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 13.32px solid;
  border-right: 5.123075px solid;
  border-top: 13.32px solid transparent;
  border-radius: 100%;
}

.circles div:nth-child(1) {
  animation: anim-1 1s linear infinite;
}
.circles div:nth-child(2) {
  animation: anim-2 1s linear infinite;
}
.circles div:nth-child(3) {
  animation: anim-3 1s linear infinite;
}

@keyframes anim-1 {
  from {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0);
  }
  to {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes anim-3 {
  from {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0);
  }
  to {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes anim-2 {
  from {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0);
  }
  to {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}
